body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

header {
    width: 100%;
    background: #007bff;
    color: white;
    padding: 10px 0;
    text-align: center;
}

.container {
    background-color: white;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    max-width: 800px;
    margin: 20px auto 0; /* Уменьшено значение верхнего отступа */
}

.card {
    max-width: 200px;
    margin: 10px auto;
    animation: fadeInUp 0.5s ease forwards;
    border: 1px solid #ddd;
    border-radius: 10px;
}

.card-body {
    padding: 10px;
    text-align: center;
}

.card:hover {
    transform: translateY(-7px);
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
    transition: transform 0.4s ease, box-shadow 0.3s ease;
}

.card-img-top {
    max-width: 100%;
    height: auto;
    max-height: 100px;
    object-fit: cover;
    margin-bottom: 10px;
}

.card-title {
    font-size: 16px;
}

.card-text {
    font-size: 14px;
}

.status-label {
    color: #212529;
    font-weight: bold;
}

.card-text .status-label.status-closed {
    color: green;
}

.card-text .status-label.status-discussion {
    color: orange;
}

.card-text .status-label.status-not-contacted {
    background: linear-gradient(to right, red, green);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.card-text .status-label.status-rejection {
    color: red;
}

.companies-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.btn {
    font-size: 12px;
    padding: 5px 10px;
    display: inline-block;
}

.text-center .btn {
    display: inline-block;
}

.edit-company,
.delete-company {
    font-size: 12px;
    padding: 5px 10px;
    display: inline-block;
    margin: 0 5px;
}

