body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

header {
    width: 100%;
    background: #007bff;
    color: white;
    padding: 10px 0;
    text-align: center;
}

.container {
    background-color: white;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    max-width: 800px;
    margin: 20px auto 0;
}

.search-and-calculator {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.card {
    width: 100%;
    max-width: 200px; /* увеличено для удобства */
    margin: 10px;
    animation: fadeInUp 0.5s ease forwards;
    border: 1px solid #ddd;
    border-radius: 10px;
    overflow: hidden; /* предотвращает выход изображения за края */
    text-align: center;
}

.card-body {
    padding: 10px;
}

.card:hover {
    transform: translateY(-7px);
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
    transition: transform 0.4s ease, box-shadow 0.3s ease;
}

.card-img-top {
    max-width: 80%;
    height: auto;
    max-height: 130px; /* ограничение высоты */
    object-fit: contain; /* предотвращает искажение изображения */
    display: block;
    margin: 20px; /* центрирует изображение */
}

.card-title {
    font-size: 16px;
}

.card-text {
    font-size: 14px;
}

.companies-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.btn {
    font-size: 12px;
    padding: 5px 10px;
    display: inline-block;
}

.text-center .btn {
    display: inline-block;
}

.edit-company,
.delete-company {
    font-size: 12px;
    padding: 5px 10px;
    display: inline-block;
    margin: 0 5px;
}

.calculator-container {
    width: 35%;
    flex: 1;
    margin-left: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.calculator-container h2 {
    text-align: center;
    margin-bottom: 10px;
}

.calculator-container form {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.calculator-container form p {
    flex: 1;
    margin-bottom: 15px;
}

.calculator-container form div select {
    margin-left: 10px;
}
.calculator-container form button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    margin-left: auto;
    align-self: flex-start;
}

.calculator-container form button:hover {
    background-color: #0056b3;
}

.result {
    text-align: center;
    margin-top: 20px;
}



